/* Base CSS is already turned off in tailwind.config.js */
/* @tailwind base;     */
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* square buttons */
.rec.rec-arrow {
  background-color: black;
  color: aliceblue;
  margin: 0;
  padding: 0;
}
.rec.rec-arrow:hover {
  background-color: rgb(63, 62, 62);
}
.rec.rec-arrow:active {
  background-color: rgb(63, 62, 62);
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}
.rec.rec-arrow:focus:enabled:hover {
  background-color: rgb(63, 62, 62);
}

.rec.rec-arrow:hover:enabled,
.rec.rec-arrow:focus:enabled {
  background-color: rgb(63, 62, 62);
}

.rec.rec-item-wrapper {
  overflow: visible;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.rec.rec-dot_active {
  color: black;
  background-color: black;
  box-shadow: none;
}

/* .rec.rec-carousel-item.rec-carousel-item-0.rec-carousel-item-visible {
  margin: 0px;
  padding: 0px;
} */

.rec.rec-slider-container {
  margin: 0px;
  position: relative;
}
.rec.rec-carousel-wrapper {
  position: relative;
}

.rec.rec-arrow-left {
  z-index: 3;
  position: absolute;
}
.rec-arrow-right {
  z-index: 3;
  position: absolute;

  right: 0;
  /* position: absolute; */
}

/* .css-z9uefa-MuiButtonBase-root-MuiAccordionSummary-root {
  padding: 0px 0px;
} */
